.content:not(.custom),
.page-edit,
.page-nav
  max-width none !important

.example-list
  columns 30em 4
  .example
    break-inside: avoid;
    display flex
    flex-direction: column

main
  margin-bottom 1em
  display flex !important
  flex-wrap wrap
  section
    display flex !important
    flex-wrap wrap
    width 100%
    margin-bottom 0

.nebula-btn
  margin-right 10px
  margin-bottom 10px

.nebula-btn-group
  display flex !important
  flex-wrap wrap
  margin-right 10px
  margin-bottom 10px
  .nebula-btn
    margin-right 0
    margin-bottom 0

.content
  .content
    padding 0 !important
    *:first-child
      margin-top 0 !important

.nebula-icons-list
  font-size 20px
  list-style none
  display flex
  flex-wrap wrap
  li
    display flex
    flex-direction column
    text-align center
    width 64px
    height 64px
    .nebula-icon
      margin-top 16px
    .nebula-icons-list-label
      line-height 14px
      font-size 12px
